<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="fragments/base::layout(~{::.sec},~{::title})">
<head>
<meta charset="ISO-8859-1">
<title>Home page</title>
</head>
<body>

	<section
		class="sec banner d-flex justify-content-center align-items-center">
		<div class="text-center">
			<h1 class="font-weight-bold text-white">Smart Contact Manager</h1>
			<p class="font-weight-bold text-white text-justify">Start
				Collectiong your contacts in very smarter way.We provide very
				efficient and smarter way of handling contacts</p>
		</div>

	</section>
</body>
</html>
