<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="fragments/base::layout(~{::.sec},~{::title})">
<head>
<meta charset="ISO-8859-1">
<title>Register</title>
</head>
<body>

	<section
		class="sec banner p-3">
		<div class="container">
			<div class="row ">
				<div class="col-md-6 offset-md-3">
					<form class="bg-white shadow p-5 " method="post"
						th:action="@{/do_register}">
						<div class="text-center">
						<img th:src="@{/images/man.png}" width="80px"/>
						</div>
						
						<h2 class="font-italic text-center">Register Here</h2>
						<div class="form-group">
							<label for="Username" class=" col-form-label">Username</label> <input
								type="text" name="name" class="form-control" id="Username">

						</div>
						<div class="form-group">
							<label for="staticEmail" class=" col-form-label">Email</label> <input
								type="text" name="email" class="form-control" id="staticEmail">

						</div>


						<div class="form-group">
							<label for="inputPassword" class=" col-form-label">Password</label>
							<input type="password" name="password" class="form-control"
								id="inputPassword" placeholder="Password">
						</div>
						<div class="form-group">
							<label for="inputPassword" class=" col-form-label">About</label>
							<textarea class="form-control" rows="4" cols="" name="about"></textarea>
						</div>



						<div class="text-center mt-4">
							<button type="submit" class="btn btn-primary  text-white">Submit</button>
							<button type="reset"class="btn btn-warning  text-white">Reset</button>

						</div>

					</form>
				</div>
			</div>
		</div>

	</section>
</body>
</html>
